extends ../common/layout
block content
	div(id='bodycontainer')
		div(id='content')
			div(id='leftbar')
			div(id='rightbar')
			div(id='main')
				div(id='article')
					div(class='blog_top')
						span(class='blog_title')
							a #{blog.blog_title}
					div(class='blog_btm')
						ul
							a(id='blog_author' class='fui-user')  #{blog.author_name}
							a(id='blog_commit' class='fui-eye')   浏览 #{blog.blog_browse}
							a(id='blog_commit' class='fui-chat')  评论 #{blog.comment_times}
							a(id='blog_date' class='fui-time')  #{blog.blog_longth}
					div(class='blog_content') !{blog.blog_content}
	include ../common/footer